<launch>

  <arg name="model" default="elfin3"/>
  <arg name="gui" default="true" />
  <arg name="rvizconfig" default="$(find elfin_description)/urdf.rviz" />
  
  <!-- 加载机器人描述参数 -->
  <param name="robot_description" 
         command="$(find xacro)/xacro '$(find elfin_description)/urdf/$(arg model).urdf.xacro'" />
  
  <!-- 关节状态发布器 -->
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <param name="use_gui" value="$(arg gui)" />
  </node>
  
  <!-- 机器人状态发布器 -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
  
  <!-- RViz可视化 -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />
  
</launch>
